## Node dependencies
node_modules/

## Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

## Environment variables
.env
.env.*
!.env.example

## OS / Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

## Build output
dist/
build/

## Misc
coverage/
.nyc_output/



/src/generated/prisma
